# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html
[scrapyd]
bind_address =127.0.0.1
http_port=6803
[settings]
default = RCL.settings

[deploy]
url =http://127.0.0.1:6803
project =RCL
